git+https://github.com/proactivity-lab/python-moteconnection.git
git+https://github.com/thinnect/python-mistconnection.git@initial
git+https://github.com/thinnect/serdepa.git
pytz
enum34
uptime

# Tests
nose
mock
